<html>
<head>	
<title> madlibs </title>
</head>
<body>
<h1> madlibs </h1>
<h2> Story: </h2>
<p> If I could travel back in time to whenever I wanted, I would travel back to Jesus times. <br/>
There, I would stop Jesus from being {{pv1}} so that he wouldn't have {{pv2}} for our sins. <br />
Would everyone from then on be damned then? </p>


<p> I would {{av1}} hide behind a {{n1}} and ambush an unsuspecting Roman {{n2}} by banging him <br />
on the head. I would then drag him into a {{n3}} and switch our clothing. Later on, I would <br />
trick the rest of the {{pn1}} into switching Jesus for the {{n4}} I knocked out. After <br />
that, I would spirit him away and raise him as my {{n5}}. </p>


<p> After a while, together we would go to the Himalayas and carve a giant troll face into the <br />
{{pn2}}. I think I would also go on a journey with him and perform all sorts of prank miracles. <br /> 
Something along the lines of turning all of the water in the crops to wine. Then, all of the <br />
{{pn3}} would be drunk all the time. </p>

</body>
</html>


#worked with Raymond Lam Period 6
