<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login required</h1>
        <p>Don't have an account? <a href="/register">Register</a>.</p>
        {% if error %}
            <p>Error: {{error}}</p>
        {% endif %}
        <form method="POST">
            <table>
                <tr><td>Username:</td><td><input type="text" name="username"></td>
                <tr><td>Password:</td><td><input type="password" name="password"><br></td>
                <tr><td colspan="2"><input type="submit" value="Submit"></td></tr>
            </table>
        </form>
    </body>
</html>
