= extends "layout.html"
= block title
	Register
= endblock
= block body
	<div class="container">
		<h1 class="title">Register</h1>
		<form method="post">
			<input id="username" type="username" name="username" placeholder="Username">
			<input id="password" type="password" name="password" placeholder="Password">
			<input id="password-confirm" type="password" name="password-confirm" placeholder="Confirm Password">
			<input class="button" type="submit" value="Register">
		</form>
	</div>
	<a class="bottom-link" href="{{ url_for('login') }}">Already have an account? Login.</a>
= endblock