body {
	background-color: #2E2E2E;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 0;
}

h3 {
	margin-top: 0;
}

.story {
	font-size: 30px;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}