<!DOCTYPE html>

<!--Template HTML file, intended for use with app.py, which
populates empty fields with randomly selected words.-->

<html>
	<head>
		<title>
			Monty Python
		</title>
		<style media="screen" type="text/css">

			.boxed {
				font-style: normal;
				outline: 1px solid #CECECE;
				padding: 0px 2px;
				background-color: #CECECE;
			}

			.centered {
				line-height: 140%;
				width:310px;
				height:150px;
				position:absolute;
				left:50%;
				top:30%;
				margin:-75px 0 0 -135px;
				text-align: center;
			}

		</style>
	</head>
	<body>
		<div class="centered">
			<p>
			<i>
				<span style="color:red; font-size: 200%; font-family: serif; font-style: normal;">
				We're</span> knights of the round <span class="boxed">{{words.O[0]}}</span><br>
				we <span class="boxed">{{words.V[0]}}</span> whenever we're able<br>
				we do routines and chorus scenes<br>
				with footwork <span class="boxed">{{words.A[0]}}</span><br>

				we dine well here in <span class="boxed">{{words.P[0]}}</span><br>
				we eat ham and <span class="boxed">{{words.O[1]}}</span> and spam a lot<br>

				we're knights of the <span class="boxed">{{words.A[1]}}</span> table<br>
				our shows are formidable<br>
				but many times we're given rhymes<br>
				that are quite unsingable<br>

				we're opera mad in <span class="boxed">{{words.P[1]}}</span><br>
				we <span class="boxed">{{words.V[1]}}</span> from the diaphragm a lot<br>

				war we're <span class="boxed">{{words.A[2]}}</span> and able, quite indefatigable<br>
				between our quests we sequin vests<br>
				and <span class="boxed">{{words.V[2]}}</span> clark gable<br>
				it's a busy life in <span class="boxed">{{words.P[2]}}</span><br>

				i have to push the <span class="boxed">{{words.O[2]}}</span> a lot<br>
			</i>
			</p>
		</div>
	</body>
</html>
