<html>

<head>
     <title> Mad Libs- Arfan Rehab, Derek Tang</title>
</head>

<body>

     <h2 style="text-align: center;">The Awesome Story</h2>

     <p>One day, the {{adjective}}, {{name}}, {{verb}} right
     into the {{place}}. There he found a {{noun}}. All of a
     sudden, another {{adjective}} person named {{name}}
     {{verb}} out of nowhere. They {{verb}} together and went to
     {{place}}. Once together, they dated and adopted a
     {{noun}}. From then onward, they apparent lived together. Who
     knows what happened next?</p>

</body>

</html>

