<h1> THE STORY OF GENESIS </h1>
<h2> Click here to see the story of <a href="/exodus">exodus</a></h2>
<p>
	Once upon a time there was a man named {{d.name0}}. He was the son of Jesus, born in {{d.place0}}. When {{d.name0}} was 2 years old he flew of to a foreign planet with his favorite toy, a {{d.adjective0}} {{d.noun0}}. But it was lost in the wormhole, and so {{d.name0}} started to cry. But crying made him feel {{d.adjective1}}. So he stopped crying and decided to {{d.verb0}} instead. 
	Seventeen years later, {{d.name0}}, all grown up now, decided that he wanted to become GOD!. To do this, he realized he needed his own {{d.noun2}}. But to get that {{d.noun2}} he first had to {{d.verb1}}. He then became god. The end. 
	
</p>
