<center><font size = 15 face = "Sans-serif"> 
Welcome to MadLibs! 
</font></center>
<hr>
<hr>

<font size = 5>


<body leftmargin = 100 rightmargin =100>
It was a {{ adj1 }} day. {{ name1 }} was {{ adj2 }} so {{ name1 }} asked {{ name2 }} to {{ v1 }} together. {{ name2 }} is a very {{ adj3 }} person and he went along with it. As they headed for the {{ pl1 }} {{ adv1 }}, they found a {{ adj4 }} {{ n1 }} in a {{ pl2 }}. They named the {{ n1 }} {{ name3 }}. {{ name1 }} still wanted to {{ v1 }} so they took {{ name3 }} along. 
</body>

</font>
