<h1> MadLibs </h1>

<h3>Story By Frankie Li :</h3>
<br>
{{d.name}} is the most {{d.adj}} person in the kingdom of {{d.adj1}} {{d.noun1}}. The {{d.adj}} {{d.name}} was once the {{d.adj2}} peasant of the kingdom of {{d.adj3}} but after he slayed the {{d.noun2}} he was crowned the most {{d.adj4}} ruler.  He was given many {{d.noun3}} as well as {{d.noun4}} until he was sick of all the things that they gave him.  Being the most {{d.adj5}} ruler, he was expected to be {{d.adj5}}.  

<br>
<h3>Story2 :</h3> 
