<html>
<head>
	<title>COOL STORY BRO</title>


</head>
<body>

	<p style="font-size:20px;margin-left:20px;margin-top:20px">
		Today {{d["P1"]}} leaves for a journey. Rolling down the
		<br>
		{{d["N0"]}}, {{d["P1"]}} met a {{d["P2"]}} who attacked him.
		<br>
		He then decided to {{d["V1"]}} the {{d["P2"]}}, and then {{d["N1"]}}
		<br>
		from the sky fell on him. {{d["P1"]}} {{d["V2"]}} the {{d["N2"]}} and
		<br>
		a rock fell on the magnificent {{d["N3"]}} who had presided over all the
		<br>
		{{d["N4"]}} in the kingdom of Nair. Then the {{d["N5"]}} from across the
		<br>
		ocean decided to take advantage of the momentary confusion to {{d["V3"]}}
		<br>
		the {{d["N5"]}} in Nair. The hero {{d["P1"]}} fought hard.
	</p>

</body>

</html>
