<!DOCTYPE html>

<html>
  
  <head>
    <title> My Account </title>
  </head>
  
  <body>
    <h1 style = "text-align: center"> {{message}} </h1>
    <h2 style = "text-algin: center"> Account Settings </h2>
    <div align = "right">
      <a href = "/home"> Home Page </a>
      <a href = "/logout"> Logout </a>
    </div>
    <form method = "POST" align = "center">
      <p>Change Password: </p>
      <p>Old Password: <input type = "text" name = "Old"> </p>
      <p>New Password: <input type = "text" name = "New"> </p>
      <input type = "submit" name = "button" value = "Save">
      <br>
    </form>
  </body>

</html>
