<!DOCTYPE html>

<html>
  
  <head>
    <title> Sign Up </title>
  </head>

  <body>
    <h1 style = "text-align:center"> {{message}} </h1>
    <h2 style = "text-align:center"> Sign Up Below </h2>
    <form method = "POST" align = "center">
      <p> Username: <input type = "text" name = "user" value = "Username"> </p>
      <p> Password: <input type = "text" name = "pass" value = "Password"> </p>
      <input type = "submit" name = "button" value = "Register">
      <br>
      <p> Signed up already? Login below. </p>
      <a href = "/login"> Login </href>
    </form>
  </body>
  
</html>
