<!DOCTYPE HTML>
<html>
        <h1>Register</h1>
        <h2>{{message}}</h2>
        <form method="post">
        <input type="text" name="username" value="username">
        <input type="text" name="currentPassword" value="currentPassword">
	<input type="text" name="newPassword" value="newPassword1">
	<input type="text" name="newPassword" value="newPassword2">
        <p>
        <input type="submit" name="button" value="Submit">
        <input type="submit" name="button" value="Back">
        </form>
</html>

