<html>
<body>
  <form name = "userinput" action="." method="POST">
    It's your birthday! Happy birthday! <br>
    Enter a:<br>
    Name <input type = "text" name="name" value=""><br>
    Gender M<input type = "radio" name="gender" value="Male">
    F<input type = "radio" name="gender" value="Female" checked><br>
    Favorite Color <input type = "text" name="color" value=""><br>
    Favorite Food <input type = "text" name="food" value=""><br>
    Best Friend <input type = "text" name="bff" value=""><br>
    Magical Creature <input type = "text" name="critter1" value=""><br>
    Magical Creature's Sound Effect <input type = "text" name="sound" value=""><br>
    Flying Magical Creature <input type = "text" name="critter2" value=""><br>
    <input type = "submit" value = "Begin.">
  </form>
  <a href="/story-default/"> <h6> Forms are boring! </h6></a>
</body>
</html>
