<!DOCTYPE html>
<html>
<body>
  {{d.name}} wakes up one morning in pitch darkness.
  <h6>{{d.name}}: Hello? Anybody there?</h6>
  There is no response. {{d.name}} stumbles over to the window. <br>
  How silly! It looks like someone forgot to turn on the sun! <br>
  {{d.name}} snaps {{d.possessive}} fingers, and a {{d.color}} sun blazes to life. <br>
  {{d.name}} instintively jerks {{d.possessive}} eyes away from the fledgling star, before {{d.subject}} realizes that was just a silly old habit. {{d.subject.capitalize()}} forces {{d.pronoun}}self to look up.<br>
  {{d.color.capitalize()}}. {{d.name}}'s favorite color.<br>
  A disorienting flash. That wasn't right, right?<br>
  <h6>{{d.critter1.capitalize()}}: {{d.sound.capitalize()}}! {{d.sound.capitalize()}}!</h6>
  Clearly, the {{d.critter1}}s have woken up. A {{d.critter2}} flies lazily across the horizon. A perfect morning.<br>
  Except no. This wasn't the way things should be at all. <br>
  A memory. There should be people. A name: {{d.bff}}, drifts faintly to mind. <br>
  Nostalgia. Longing. <i> Unhappiness. </i> <br> <br>
  {{d.name}} blinks. {{d.subject.capitalize()}} is sure {{d.subject}} was just thinking about something. Oh well, it couldn't have been important. <br>
  {{d.name}} brightens up.
  <h6> {{d.name}}: Oh! I suppose it is my birthday! </h6>
  And there is {{d.food}}. The {{d.food}} is not a lie. The {{d.food}} is not a lie. 
  
  
</body>
</html>
