<!DOCTYPE HTML>
<html>
<head>
<title> Home </title>
<style> 
<link rel="stylesheet" type="text/css" href="#{ url_for('static', filename='stylesheets/home.css')}">
</style> 
</head>
<body>
<h2> Welcome {{username}}! Choose what you would like to do! </h2> 
<p><a href="http://www.google.com">
<input type="link" name="button" value="Go To Google">
</a>
</p>

<p><a href="http://bert.stuy.edu/pbrooks/schedules/schedules.py"><input type="link" name="button" value="Check the time for today's schedule">
</a>
</p>
<p>  
<a href="http://c9.io:><input type="link" name="button" value="Work on HTML in the Cloud">
</a> 
</p>
<p> 
<a href="logout.html">Logout</a>
</p>
</body> 
</html> 