<!DOCTYPE HTML>
<html>
<head>
<title> Home </title>
<style> 
<link rel="stylesheet" type="text/css" href="#{ url_for('static', filename='stylesheets/register.css') }">
</style>
</head>
<body> 
<h1> Our program allows you to access the tools you need for an everyday Stuyvesant student. </h1>
<h2> Please input your information in order to get access to our wonderful utility. </h2> 

Username you would like: <input type = "text" name = "username"></input>
And the password: <input type = "text" name="password"></input> 

Finally, give us your email for consistent updates: 
<input type = "text" name="email"></input>
Then, hit submit:
<input type="submit" name="button" value="Submit"></input>
</form>
</body>
</html>