<html>
    <head>
        <title>The Greatest {{d["F"]}}</title>
    </head>
    <body>
        <div style="font-size:20px;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;margin:auto;width:80%;">
            <h1 style="margin-top:50px;text-align:center;width:100%;">The Greatest {{d["F"]}}</h1>
            <p>
                It was a {{d["W"]}} day. Roger had just {{d["V1"]}} the fire-breathing {{d["M1"]}} guarding the {{d["L"]}}. All that was left
				was to {{d["V2"]}} the princess. As he {{d["V3"]}} the princess' tower doors, out of nowhere, a {{d["A1"]}} looking creature appeared.
				It was Josh! Roger quickly prepared to {{d["V2"]}} the {{d["A1"]}} Josh. Picking up the nearby {{d["N1"]}}, he quickly
				{{d["V4"]}} it towards Josh. The {{d["A1"]}} creature did his best to dodge it, but being so {{d["A1"]}}, he was hit, and fell into the
				{{d["BW"]}}, where he was {{d["V1"]}} by {{d["N2"]}}, just as Roger had {{d["V1"]}} the fire-breathing {{d["M1"]}}.
				Triumphant, Roger {{d["V5"]}} to the princess' {{d["L2"]}}, where he then {{d["V6"]}} the princess, unlike Josh,
				who was {{d["V1"]}} by {{d["N2"]}}.
            </p>
        </div>
    </body>
</html>
