<!DOCTYPE html>
<html>
<body background="http://3.bp.blogspot.com/-egYP9FgHGz0/T5Pp2TmtvAI/AAAAAAAACMw/2LfaH_tRpSw/s320/PolkaDotsRedBeige.png">

<div id="container" style="width:500px">

<div id="header" style="background-color:#6699CC;">
<h1 style="margin-bottom:0;">WHAT A DAY</h1>
<h3>by <a href="https://github.com/helenlin">Helen Lin</a> and <a href="https://github.com/julie-zhu">
Julie Zhu</a></h3>
<h4>Software Development Pd 6</h4>
</div>

<div id="menu" style="background-color:#99CCCC;height:200px;width:100px;float:left;">
<i><b>Menu</b></i><br>
<a href="https://github.com/stuycs-softdev/submissions/tree/master/6">Pd 6</a><br>
<a href="https://github.com/stuycs-softdev/submissions/tree/master/7">Pd 7</a><br>
<a href="https://github.com/stuycs-softdev">SoftDev Home</a><br>
</div>

<div id="content" style="background-color:#FFFFCC;height:200px;width:400px;float:left;">
<p>One Saturday afternoon, {{propnoun}} was walking to the store to buy a {{noun}} as a gift for a friend's 17th birthday. On the way, {{propnoun}} suddenly felt sick and very dizzy. In order to feel better, {{propnoun}} {{verb}} the nearest person. In the process, {{propnoun}} crashed into a {{adjective}} tree. Little did {{propnoun}} know, it was actually a magical tree, and {{propnoun}} was instantly transported to {{place}}. There, the tree and {{propnoun}} lived happily every after.</p>
<p>Now wasn't that a {{adjective2}} story?</p></div>

<div id="footer" style="background-color:#99CCCC;clear:both;text-align:center;">
Copyright © Stuyvesant High School</div>

</div>
 
</body>
</html>
