<html> 

<h1>FILL OUT BEAUUUUUTIFULLLLL SURVEY!!!!!</h1>

<form method="POST">

What is your given name?
<input type="text" name="username">
<br /> <br />
 
What is 4 digit ID?
<input type="text" name="ID">
<br />

What is your OSIS Number? 
<input type="text" name="OSIS">
<br />

Which homeroom are you in? 
<input type="text" name="HR">
<br /> <br />

<hr>
Rate Stuyvesant's English Department: 

<input type="radio" name="English1"> 1 </input>
<input type="radio" name="English2"> 2 </input> 
<input type="radio" name="English3"> 3 </input>
<input type="radio" name="English4"> 4 </input>
<input type="radio" name="English5"> 5 </input>
<p>

Rate Stuyvesant's History Department: 

<input type="radio" name="History"> 1 </input>
<input type="radio" name="rating"> 2 </input> 
<input type="radio" name="rating"> 3 </input>
<input type="radio" name="rating"> 4 </input>
<input type="radio" name="rating"> 5 </input>
<p>

Rate Stuyvesant's Math Department: 

<input type="radio" name="Math"> 1 </input>
<input type="radio" name="Math"> 2 </input> 
<input type="radio" name="Math"> 3 </input>
<input type="radio" name="Math"> 4 </input>
<input type="radio" name="Math"> 5 </input>
<p>

Rate Stuyvesant's Foreign Language Department: 

<input type="radio" name="FL"> 1 </input>
<input type="radio" name="FL"> 2 </input> 
<input type="radio" name="FL"> 3 </input>
<input type="radio" name="FL"> 4 </input>
<input type="radio" name="FL"> 5 </input>
<p>

Rate Stuyvesant's Computer Science  Department: 

<input type="radio" name="CS"> 1 </input>
<input type="radio" name="CS"> 2 </input> 
<input type="radio" name="CS"> 3 </input>
<input type="radio" name="CS"> 4 </input>
<input type="radio" name="CS"> 5 </input>

<hr>
<input type="Submit" name="button" value="complete">
<input type="Submit" name="button" value="Cancel">


</form>

</html>
